body {
    font-family: 'Nunito', sans-serif;
    height: 100%;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    margin-bottom: 40px;
}

.navbar {
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content {
    min-height: 80vh;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.final-da-linha {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
}
